html,body {
  background: #0000001A;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #6A82FB, #FC5C7D);  /* Chrome 10-25, Safari 5.1-6 */

 font-family: 'Rajdhani', sans-serif;
}
h1 .display-4{

}
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
  z-index: 2;
}

.flip-card-back {
  background-color: #3c1053;
  color: white;
  transform: rotateY(180deg);
  z-index: 1;
}
div .left {
  padding-left: 25%;
}
div .right {
  padding-left: 25%;
}
footer .footer-bottom {
  background: #333;
  padding: 1rem;
}
.img-circle
{
  width: 175px;
  height: 175px;
  border-radius: 50%;
  margin:auto;
}
.info_c
{
  display: flex;
  width:95%;
  height: 200px;
background: #e4e4e499;
box-shadow: 2px 2px 13px #aaa;
margin:auto;
margin-bottom: 20px;
}
.info
{
  width:70%;
  height: 100%;
  display: block;
  text-align: center;
}
.img_u
{
  width:30%;
  height:100%;
  display: flex;
  justify-content: center;
  margin: auto;
}
@media only screen and (max-width: 576px) {
 .meet {
  font-size: 250%;
 }

.info_c{
  display: block;
  height: 350px;
}
.info
{
  width:100%;
  height:60%;
}
.img_u
{
  width:100%;
  height:40%;
}
.img-circle
{
  width:125px;
  height: 125px;
}

 /* div .res {
     padding-left: 10%;
  padding-bottom: 5%;

  }
  div .left {
  padding-left: 10%;
  padding-bottom: 5%;
}
div .right {
  padding-left: 10%;
}*/

}
