<!DOCTYPE html>
<html lang="en">
<head>
	<title>About Us</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Alumni Portal</title>
	<link href="https://fonts.googleapis.com/css?family=Rajdhani" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="an"nymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-md navbar navbar-dark bg-dark navbar sticky-top">
		<div class="container-fluid">
  <span class="navbar-brand mb-0 h1" id="heading">RESOLUTE COLLEGE UNION</span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ml-auto">
      	<li class="nav-item active">
      <a class="nav-link" href="#">Home</a>
  		</li>
      <li class="nav-item">
      <a class="nav-link" href="#">Event lists</a>
  		</li>
      <li class="nav-item">
      <a class="nav-link" href="#registration">Registration</a>
  		</li>
   		
  </ul>
  	</div>
  </div>
</nav>
</header>
<!-- meet the team -->
<div class="container-fluid padding">
	<div class="row welcome text-center">
		<div class="col-12">
			<h1 class="display-4">Meet The Team</h1>
			<hr>
		</div>
	</div>
</div>
<!-- frontend -->
<div class="container-fluid padding">
	<div class="row welcome text-center">
		<div class="col-12">
			<h3>Front-End</h3>
		</div>
	</div>
</div>
<br>
<!-- flipcards -->
<div class="container-fluid padding">
	<div class="row padding">
		<div class="col-md-4">
			<div class="res">
<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="img/vishnu.jpeg" alt="Avatar" style="width:300px;height:300px;">
    </div>
    <div class="flip-card-back">
      <h1>Vishnu</h1> 
      <p class="lead">Information & Technology</p> 
      <p class="lead">Govt. Engineering college</p>
      <p class="lead">Sreekrishnapuram</p>
    </div>
  </div>
</div>
</div>
</div>
<br>
<div class="col-md-4">
	<div class="res">
<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="img/aravind.jpeg" alt="Avatar" style="width:300px;height:300px;">
    </div>
    <div class="flip-card-back">
      <h1>Aravind</h1> 
       <p class="lead">Electronics & Communication</p> 
      <p class="lead">Govt. Engineering college</p>
      <p class="lead">Sreekrishnapuram</p>
    </div>
  </div>
</div>
</div>
</div>
<br>
<div class="col-md-4">
	<div class="res">
<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="img/Abi.jpg" alt="Avatar" style="width:300px;height:300px;">
    </div>
    <div class="flip-card-back">
      <h1>Abhijith A</h1> 
      <p class="lead">Electronics & Communication</p> 
      <p class="lead">Govt. Engineering college</p>
      <p class="lead">Sreekrishnapuram</p>
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>
<!-- backend -->
<br>
<br>
<div class="container-fluid padding">
	<div class="row welcome text-center">
		<div class="col-12">
			<h3>Back-End</h3>
		</div>
	</div>
</div>
<br>
<!-- flip cards -->

<div class="container-fluid padding">
	<div class="row padding">
		
		<div class="col-lg-6">
			<div class="left">
			<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="img/rejul.jpeg" alt="Avatar" style="width:300px;height:300px;">
    </div>
    <div class="flip-card-back">
      <h1>Rejul</h1> 
      <p class="lead">Computer Science & Engineering</p> 
        <p class="lead">Govt. Engineering college</p>
      <p class="lead">Sreekrishnapuram</p>
    </div>
  </div>
</div>
</div>
</div>

		
		<div class="col-lg-6">
			<div class="right">
		<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="img/Ajay.jpeg" alt="Avatar" style="width:300px;height:300px;">
    </div>
    <div class="flip-card-back">
      <h1>Ajay Dev</h1> 
      <p class="lead">Computer Science & Engineering</p> 
        <p class="lead">Govt. Engineering college</p>
      <p class="lead">Sreekrishnapuram</p>
    </div>
  </div>
</div>
</div>
	</div>
</div>
</div>
<br>
<br>

<footer>
    <div class="footer-bottom text-center">
      Made With <img src="{% static "./img/purple-heart_1f49c.png"%}" style="height:25px;width:25px"> at GEC Palakkad <br> ./tech_team
    </div>
  </footer>





<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://ajax.googleeapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

</body>
</html>