{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title> DAKSHA'18 |YAGA OF ART </title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static 'event/images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'event/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'event/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'event/vendor/animate/animate.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'event/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'event/vendor/perfect-scrollbar/perfect-scrollbar.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'event/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'event/css/main.css' %}">
<!--===============================================================================================-->
     <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Rajdhani" rel="stylesheet">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Rajdhani" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-129276229-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-129276229-1');
</script>

</head>
<body>
	<header>
                <nav class="navbar navbar-expand-md navbar navbar-dark bg-dark navbar sticky-top">
                <div class="container-fluid">
              <span class="navbar-brand mb-0 h1" id="heading">RESOLUTE COLLEGE UNION</span>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
              <!--      <li class="nav-item active">
                  <a class="nav-link" href="#">Results</a>
                  </li>
                  <li class="nav-item">
                  <a class="nav-link" href="#">Rank Board</a>
                  </li>-->
                  <li class="nav-item">
                  <a class="nav-link" href="./">Home</a>
								</li>
								<li class="nav-item">
								<a class="nav-link" href="register">Registration</a>
								</li>
                  <li class="nav-item">
                  <a class="nav-link" href="#">Event Lists</a>
                  </li>
              </ul>
                </div>
              </div>
            </nav>
            </header>

<div class="event"><br><h1 class="display-3" id="event_list"> Onstage Events</h1>
	<h2 class="display-5" id="event_list"> Registrations will start on friday</h2>

	<p class="display-5" id="event_list"> General Rules:<br>
		1) Only one group per year allowed for group events.<br>
		2) Year Representatives need to give team wise names for the group events.<br>
		3)There will be a 30RS registration fee for group events.<br>
		4) Maximum 3 Group items and 4 individual items per person.
</p>

	<div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
				<div class="table100">
					<table>
						<thead>
							<tr class="table100-head">
								<th class="column1">Group Event</th>
								<th class="column2">Time (in Minutes)</th>
								<th class="column2">Number of participants</th>

						</thead>
						<tbody>
								<tr>
									<td class="column1">THIRUVATHIRA</td>
									<td class="column2">10</td>
									<td class="column3">10(8+2)</td>
								</tr>
								<tr>
									<td class="column1">OPPANA</td>
									<td class="column2">10</td>
									<td class="column3">10</td>
								</tr>
								<tr>
									<td class="column1">SEMICLASSICAL DANCE</td>
									<td class="column2">10</td>
									<td class="column3">7</td>
								</tr>
								<tr>
									<td class="column1">NADAN PATTU(GIRLS)</td>
									<td class="column2">10</td>
									<td class="column3">7</td>
								</tr>
								<tr>
									<td class="column1">NADAN PATTU(BOYS)</td>
									<td class="column2">10</td>
									<td class="column3">7</td>
								</tr>
								<tr>
									<td class="column1">MARGAM KALI</td>
									<td class="column2">10</td>
									<td class="column3">7</td>

								</tr>
								<tr>
									<td class="column1">WESTERN GROUP DANCE</td>
									<td class="column2">10</td>
									<td class="column3">8</td>
								</tr>
								<tr>
									<td class="column1">NADAKAM</td>
									<td class="column2">30</td>
								<td class="column3">10(7+3)</td>							</tr>
								<tr>
									<td class="column1">MIME</td>
									<td class="column2">5</td>
									<td class="column3">7</td>
								</tr>
								<tr>
									<td class="column1">DESHABAKTHIGANAM</td>
									<td class="column2">5</td>
									<td class="column3">7</td>								</tr>
								<tr>
									<td class="column1">SANGA GAANAM(MALAYALAM)</td>
									<td class="column2">10</td>
									<td class="column3">7</td>								</tr>
								<tr>
									<td class="column1">SANGA GAANAM(ENGLISH)</td>
									<td class="column2">10</td>
									<td class="column3">7</td>								</tr>
									<tr>
										<td class="column1">SANGA GAANAM(HINDI)</td>
										<td class="column2">10</td>
										<td class="column3">7</td>									</tr>
										<tr>
											<td class="column1">WESTERN GROUP SONG</td>
											<td class="column2">10</td>
											<td class="column3">7</td>								</tr>
								<tr>
									<td class="column1">KOLKALI</td>
									<td class="column2">10</td>
									<td class="column3">12</td>								</tr>
								<tr>
									<td class="column1">VATTAPPATTU</td>
									<td class="column2">10</td>
									<td class="column3">10</td>								</tr>
								<tr>
									<td class="column1">GANAMELA</td>
									<td class="column2">10</td>
									<td class="column3">7</td>								</tr>
									<tr>
										<td class="column1">SKIT ENGLISH</td>
										<td class="column2">10</td>
										<td class="column3">8</td>									</tr>
									<tr>
										<td class="column1">SKIT HINDI</td>
										<td class="column2">10</td>
										<td class="column3">8</td>									</tr>
								<tr>
									<td class="column1">DAFMUTTU</td>
									<td class="column2">10</td>
									<td class="column3">10</td>								</tr>
								<tr>
									<td class="column1">PARIJAMUTTU</td>
									<td class="column2">10</td>
									<td class="column3">8</td>								</tr>
									<tr>
										<td class="column1">VANCHIPATTU(BOYS)</td>
										<td class="column2">10</td>
										<td class="column3">10</td>									</tr>
									<tr>
										<td class="column1">VANCHIPATTU(GIRLS)</td>
										<td class="column2">10</td>
										<td class="column3">10</td>									</tr>
								</tbody>
							</table>
<br>	<h2 class="display-5" id="event_list"> Individual events</h2><br>

							<table>
								<thead>
									<tr class="table100-head">
										<th class="column1">Individual Event</th>
										<th class="column2">Time (in Minutes)</th>
								</thead>
								<tbody>
								<tr>
									<td class="column1">KADHAPRASANGAM</td>
									<td class="column2">15</td>
									</tr>
								<tr>
									<td class="column1">MONOACT</td>
									<td class="column2">5</td>
																		</tr>
								<tr>
									<td class="column1">WESTERN SOLO</td>
									<td class="column2">5</td>
												</tr>
								<tr>
									<td class="column1">MAPPILAPATTU</td>
									<td class="column2">5</td>
								</tr>
								<tr>
									<td class="column1">MIMICRY</td>
									<td class="column2">5</td>
								</tr>
								<tr>
									<td class="column1">NAADODINIRTHAM</td>
									<td class="column2">5</td>
								</tr>
								<tr>
									<td class="column1">OTTANTHULLAL</td>
									<td class="column2">10</td>
								</tr>
								<tr>
									<td class="column1">BHARATHANATYAM</td>
									<td class="column2">10</td>
								</tr>
								<tr>
									<td class="column1">MOHINIYATTAM</td>
									<td class="column2">10</td>
								</tr>
								<tr>
									<td class="column1">KUCHIPIDI</td>
									<td class="column2">10</td>
								</tr>
								<tr>
									<td class="column1">SPEECH ENGLISH</td>
									<td class="column2">5</td>
								</tr>
								<tr>
									<td class="column1">SPEECH MALAYALAM</td>
									<td class="column2">5</td>
								</tr>
								<tr>
									<td class="column1">SPEECH HINDI</td>
									<td class="column2">5</td>
								</tr>
								<tr>
									<td class="column1">VIOLINE</td>
									<td class="column2">10</td>
								</tr>
								<tr>
									<td class="column1">VEENA</td>
									<td class="column2">10</td>
								</tr>
								<tr>
									<td class="column1">ORGAN</td>
									<td class="column2">10</td>
								</tr>
								<tr>
									<td class="column1">THABALA</td>
									<td class="column2">10</td>
								</tr>
								<tr>
									<td class="column1">GUITAR</td>
									<td class="column2">10</td>
								</tr>
								<tr>
									<td class="column1">MRITHANGAM</td>
									<td class="column2">10</td>
								</tr>
								<tr>
									<td class="column1">KAVITHA MALAYALAM</td>
									<td class="column2">5</td>
								</tr>
									<tr>
										<td class="column1">POEM ENGLISH</td>
										<td class="column2">5</td>
									</tr>
									<tr>
											<td class="column1">POEM HINDI</td>
											<td class="column2">5</td>
										</tr>
										<tr>
											<td class="column1">POEM ARABIC </td>
											<td class="column2">5</td>
										</tr>	<tr>
												<td class="column1">POEM SANSKRIT</td>
												<td class="column2">5</td>
											</tr>
											<tr>
												<td class="column1">LIGHT MUSIC</td>
												<td class="column2">5</td>
											</tr>
											<tr>
												<td class="column1">CLASSICAL MUSIC</td>
												<td class="column2">10</td>
											</tr>

						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<footer>
	<div class="footer-bottom text-center">
		Made With <img src="{% static "./img/purple-heart_1f49c.png"%}" style="height:25px;width:25px"> at GEC Palakkad <br> ./tech_team
	</div>
</footer>
                  <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
            </body>

            </html>



<!--===============================================================================================-->
	<script src="{% static 'event/vendor/jquery/jquery-3.2.1.min.js'%}"></script>
<!--===============================================================================================-->
	<script src="{% static 'event/vendor/bootstrap/js/popper.js'%}"></script>
	<script src="{% static 'event/vendor/bootstrap/js/bootstrap.min.js'%}"></script>
<!--===============================================================================================-->
	<script src="{% static 'event/vendor/select2/select2.min.js'%}"></script>
<!--===============================================================================================-->
	<script src="{% static 'event/js/main.js'%}"></script>

</body>
</html>
